.container-videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 6rem;
    gap: 1rem;
}

.title-videos{
    text-align: center;
    color: black;
  font-size: 50px;
  text-shadow: 2px 2px 3px #D8D9DA;
  margin-top: 1rem;
}

.container-videos h2{
    font-size: 20px;
    margin-bottom: 1rem;
   justify-self: center;
   text-shadow: 2px 2px 3px #D8D9DA;
}

.video-item {
    opacity: 0;
    animation: fadeIn 3s forwards;
  }

  .video-item {
    position: relative;
}

.video-item:hover::before {
    content: attr(data-text); /* Mostrar el contenido del atributo data-text */
    position: absolute;
    top: 8rem;
    left: 4rem;
    width: 450px;
    height: 150px;
    background-color: rgba(37, 37, 37, 0.7); /* Fondo al pasar el mouse */
    color: #fff; /* Color del texto al pasar el mouse */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 8px;
    z-index: 1; /* Asegura que el texto esté encima del contenido */
    opacity: 0; /* Hace que el texto sea inicialmente transparente */
    transition: opacity 0.3s ease;
  }
  
  .video-item:hover::before {
    opacity: 1; /* Mostrar el mensaje al pasar el mouse */
  }
  
  
  
  

@media (max-width: 768px){
    .container-videos h2{
        font-size: 15px;
        
    }
    .container-videos{
       grid-template-columns: 1fr;
    }
}